@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{margin: 0; font-family: "Inter", sans-serif;}

body{
    display: flex;
    flex-direction: column;
}

:root {
    --main_color: #539987;
    --scnd_btn_color: #30554C;
    --gray_btn: #C9C9C9;
    --white: #fff;
    --black: #000;
}


.fa-solid, .fa-regular, .fa-brands {
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
}

.down_container .fa-solid, .fa-regular, .fa-brands{
    font-size: 40px;
    margin-right: 20px;
}


header{
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: var(--main_color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px 10px 60px;

}

a {
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

header a:hover {
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 0 20px 0 20px;
}

.logo_image {
    width: 210px;
}

.map_image {
    max-width: 100%;
    height: auto;
}

.acc_btn {
    background-color: var(--scnd_btn_color);
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    border-radius: 15px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20% 5px 20%;
}

.title {
    margin: 10px;
    color: var(--black);
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.text {
    color: var(--black);
    font-size: 20px;
}

footer {
    background-color: var(--main_color);
    color: var(--white);
    padding: 20px 10% 20px 10%;
    margin-top: 40px;
}

footer .title {
    text-transform: none;
    color: var(--white);
    margin: 0 0 5px 0;
}

footer p{
    text-transform: none;
    color: var(--white);
    font-size: 20px;
}

footer a{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
}

footer nav {
    width: 500px;
}

.up_container{
    display: flex;
    column-gap: 100px;
    padding: 0 30px 10px 30px;
    border-bottom-style: solid;
    border-color: var(--white);
    border-width: 2px;
}

.container_2 {
    display: flex;
    flex-direction: column;
}

.container_2 .Kontakt {
    display: flex;
    align-items: center;
    width: 220px;
    margin: 5px;
    font-size: 16px;

}
.up_container .acc_btn{
    position: absolute;
    right: 220px;
    text-transform: uppercase;
    font-size: 24px;
}

.down_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
}

.image_roll{
    position: relative;
    height: 70vh;
    overflow: hidden;
    padding: 0;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.slide.active {
    opacity: 1;
}

.indicator-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px var(--white);
    cursor: pointer;
}

.indicator.active {
    background-color: var(--white);
}


