@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{margin: 0; font-family: "Inter", sans-serif; padding: 0;}

body{
    display: flex;
    flex-direction: column;
    min-width: 370px;
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    --main_color: #539987;
    --scnd_btn_color: #30554C;
    --gray_btn: #C9C9C9;
    --white: #fff;
    --black: #000;
}


.fa-solid, .fa-regular, .fa-brands {
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
}

.down_container .fa-solid, .fa-regular, .fa-brands{
    font-size: 40px;
    margin-right: 20px;
}

.mobile, .search_bar {
    display: none;
}

header{
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: var(--main_color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;

}

header a, footer a {
    text-decoration: none;
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 0 20px;
}

.logo_image {
    width: 210px;
}

.map_image {
    max-width: 100%;
    height: auto;
}

.acc_btn, .kontakt_btn {
    background-color: var(--scnd_btn_color);
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    border-radius: 15px;
    text-decoration: none;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20%;
}

.title {
    margin: 10px;
    color: var(--black);
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.text {
    color: var(--black);
    font-size: 20px;
}

footer {
    background-color: var(--main_color);
    color: var(--white);
    padding: 20px 10%;
    margin-top: 40px;
}

footer .title {
    text-transform: none;
    color: var(--white);
    margin: 0 0 5px 0;
}

footer p{
    text-transform: none;
    color: var(--white);
    font-size: 20px;
}

footer a{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
}

footer nav {
    width: 500px;
}

.up_container{
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 0 30px 10px 30px;
}

.container_2 {
    display: flex;
    flex-direction: column;
}

.container_2 .Kontakt {
    display: flex;
    align-items: center;
    width: 220px;
    margin: 5px;
    font-size: 16px;

}

.kontakt_btn{
    position: absolute;
    right: 220px;
    text-transform: uppercase;
    font-size: 24px;
}

.down_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    border-top-style: solid;
    border-width: 2px;
}

.image_roll{
    position: relative;
    height: 70vh;
    overflow: hidden;
    padding: 0;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.slide.active {
    opacity: 1;
}

.indicator-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px var(--white);
    cursor: pointer;
}

.indicator.active {
    background-color: var(--white);
}

/*Kontakt page*/

.contact_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
}

.contact_page .title {
    font-size: 32px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contact_page .text {
    font-size: 18px;
    color: var(--black);
    margin-bottom: 40px;
    text-align: center;
}

.contact_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.contact_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact_item i {
    font-size: 40px;
    color: var(--main_color);
    margin-bottom: 10px;
}

.contact_item span {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.contact_item p {
    font-size: 18px;
    color: var(--black);
}

.contact_form {
    width: 100%;
    max-width: 600px;
}

.contact_form .title {
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 20px;
    text-align: center;
}

.contact_form form {
    display: flex;
    flex-direction: column;
}

.contact_form label {
    font-size: 18px;
    color: var(--black);
    margin-bottom: 5px;
}

.contact_form input, .contact_form textarea {
    border: 1px solid var(--gray_btn);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 578px;
    max-height: 100px;
}

.contact_form .send_btn {
    background-color: var(--scnd_btn_color);
    color: var(--white);
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s;
}

.contact_form .send_btn:hover {
    background-color: var(--main_color);
}

/*Kontakt page end*/

/*Novinky page*/
.news_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
}

.news_page .title {
    font-size: 32px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.news_page .text {
    font-size: 18px;
    color: var(--black);
    margin-bottom: 40px;
    text-align: center;
}

/* Seznam novinek */
.news_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.news_item {
    border: 1px solid var(--gray_btn);
    border-radius: 10px;
    padding: 15px 20px;
    background-color: var(--white);
    transition: transform 0.2s;
}

.news_item:hover {
    transform: scale(1.02);
}

.news_title {
    font-size: 20px;
    font-weight: 600;
    color: var(--main_color);
    text-decoration: none;
    margin-bottom: 10px;
}

.news_title:hover {
    text-decoration: underline;
}

.news_date {
    font-size: 16px;
    color: var(--gray_btn);
    margin-bottom: 10px;
}

.news_excerpt {
    font-size: 18px;
    color: var(--black);
}

/*Novinky page end*/

/*Foto page*/

.gallery_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
}

.gallery_page .title {
    font-size: 32px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.gallery_page .text {
    font-size: 18px;
    color: var(--black);
    margin-bottom: 40px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.gallery_item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.gallery_item:hover img {
    transform: scale(1.05);
}

.gallery_item:hover {
    transform: translateY(-5px);
}

/*Foto page end*/


@media screen and (max-width: 1250px) {
    .pc {
        display: none;
    }

    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .side_menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100%;
        background-color: var(--main_color);
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px;
        transition: 0.3s;
        z-index: 6;
    }

    .side_menu.open {
        left: 0;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        z-index: 5;
    }

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }

    .side_menu a {
        font-size: 20px;
        font-weight: bold;
        color: var(--white);
        margin: 15px 0;
    }

    section {
        padding: 5px 5% 5px 5%;
    }

    header .title{
        color: var(--white);
        text-transform: none;
    }
    header .Kontakt{
        width: 100px;
        display: flex;
        align-items: center;
    }

    .title {
        font-size: 20px;
    }

    
    .text {
        font-size: 14px;
    }


    .mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 4;
        padding: 10px 5% 10px 5%;
    }

    .image_roll{
        height: 50vh;
    }


    .logo_image{
        display: none;
    }

    header .acc_btn {
        background-color: var(--scnd_btn_color);
        color: var(--white);
        padding: 15px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
    }

    .fa-regular, .fa-brands, .fa-solid {
        margin: 0;
    }

    .fa-user{
        font-size: 30px;

    }

    .fa-magnifying-glass{
        font-size: 30px;

    }

    .search_bar {
        color: var(--gray_btn);
        border-style: solid;
        border-radius: 5px;
        border-width: 1px;
        padding: 5px 10px 5px 10px;
        margin: auto;
        margin-top: 3px;
        margin-bottom: 3px;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search_bar input {
        text-decoration: none;
        border-style: none;
        color: var(--gray_btn);
        font-weight: 400;
        font-size: 16px;
        width: 90%;
        padding: 3px;
    }

    /*footer*/

    .kontakt_btn{
        display: none;
    }

    footer {
        padding: 30px 5% 30px 5%;
        margin-top: 20px;
    }
    
    footer .fa-solid{
        font-size: 15px;
        margin-right: 5px;
    }
    
    footer .up_container{
        width: 100%;
        max-width: 600px;
        justify-content: space-between;
        padding: 0 0 10px 0;
    }

    footer p {
        font-size: 15px;
    }

    .container_2 .Kontakt {
        font-size: 13px;
        width: 100%;
    }

    .down_container {
        height: 70px;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 0 0 0;
    }

    footer nav {
        order: 1;
        width: 90%;
        max-width: 600px;
        padding: 0;
        justify-content: space-between;
    }

    footer a{
        font-size: 12px;
    }

    .down_container .Kontakt{
        order: 2;
        display: flex;
        justify-content: space-between;
        width: 220px;
    }

    /*menu hamburger*/

    .fa-bars{
        font-size: 30px;
        color: var(--white);
    }



}

