{% block header %}
    <header class="pc">
        <img src="../static/images/logo.png" alt="BikeGo" class="logo_image">
        <nav>
            <a href="{{ url_for('view_Home') }}">Domů</a>
            <a href="{{ url_for('view_Novinky') }}">Novinky</a>
            <a href="{{ url_for('view_Pujcovna') }}">Půjčovná</a>
            <a href="{{ url_for('view_Foto') }}">Foto</a>
            <a href="{{ url_for('view_Kontakt') }}">Kontakt</a>
        </nav>
        <a href="{{url_for('view_login')}}" class="acc_btn">Můj účet</a>        
    </header>

    <header class="mobile">
        <div class="overlay" id="overlay" onclick="toggleMenu()"></div>
        <div class="side_menu" id="sideMenu">
            <a href="{{ url_for('view_Home') }}">Domů</a>
            <a href="{{ url_for('view_Novinky') }}">Novinky</a>
            <a href="{{ url_for('view_Pujcovna') }}">Půjčovná</a>
            <a href="{{ url_for('view_Foto') }}">Foto</a>
            <a href="{{ url_for('view_Kontakt') }}">Kontakt</a>
        </div>

        <div class="Kontakt">
            <i class="fa-solid fa-bars" id="btn_menu"></i>
            <p class="title">BikeGO</p>
        </div>
        
        <a href="" class="acc_btn">
            <i class="fa-regular fa-user"></i>
        </a>

    </header>
{% endblock %}