<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Flask application for Bikego system">
    <meta name="keywords" content="Bikego, bikes">
    <meta name="theme-color" content="#539987" />
    <meta name="author" content="Bikego">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/logo.ico') }}">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Page-Specific Stylesheets -->
    {% if page in ['login', 'signup', 'forgot_password', 'change_password'] %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log_reg.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endif %}

    <!-- Flatpcikr scripts for renting -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/cs.js"></script>

    <!-- JavaScript (Place script tag here if necessary) -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</head>

<body>
    {% if page not in ['login', 'signup', 'forgot_password', 'change_password'] %}
    {% include '__header.jinja' %}
    {% endif %}

    <div id="cookie-banner"
        style="display: none; position: fixed; bottom: 0; width: 100%; background: #333; color: #fff; padding: 15px; text-align: center; z-index: 1000;">
        <p style="margin: 0; font-size: 16px;">
            Soubory cookie používáme ke zlepšení vašeho zážitku. Pokračováním v návštěvě těchto stránek souhlasíte s
            naším používáním cookies.
            <a href="{{ url_for('cookies') }}" style="color: #4CAF50; text-decoration: underline;">Více zde</a>.
        </p>
        <button id="accept-cookies"
            style="margin-left: 15px; padding: 10px 15px; background: #4CAF50; border: none; color: white; cursor: pointer; border-radius: 5px;">
            Přijmout
        </button>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const cookieBanner = document.getElementById("cookie-banner");
            const acceptButton = document.getElementById("accept-cookies");
            const cookies = document.cookie.split('; ');
            const cookiesAccepted = cookies.includes("cookies_accepted=true");
            if (cookiesAccepted) {
                console.log("Cookie already set: cookies_accepted=true");
            } else {
                console.log("No cookie found, showing the banner.");
                cookieBanner.style.display = "block";
            }
            acceptButton.addEventListener("click", function () {
                document.cookie = "cookies_accepted=true; path=/; max-age=" + 60 * 60 * 24 * 30;
                cookieBanner.style.display = "none";
            });
        });
    </script>

    {% block content %}
    {% endblock %}

    {% if page not in ['login', 'signup', 'forgot_password', 'change_password'] %}
    {% include '__footer.jinja' %}
    {% endif %}
</body>

</html>