<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Flask application for Bikego system">
    <meta name="keywords" content="Bikego, bikes">
    <meta name="theme-color" content="#539987" />
    <meta name="author" content="Bikego">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/logo.ico') }}">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Page-Specific Stylesheets -->
    {% if page in ['login', 'signup', 'forgot_password', 'change_password'] %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log_reg.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endif %}

    <!-- JavaScript (Place script tag here if necessary) -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    {% if page not in ['login', 'signup', 'forgot_password', 'change_password'] %}
    {% include '__header.jinja' %}
    {% endif %}

    {% block content %}
    {% endblock %}

    {% if page not in ['login', 'signup', 'forgot_password', 'change_password'] %}
    {% include '__footer.jinja' %}
    {% endif %}
</body>

</html>