{% extends '__main.jinja' %}

{% block content %}
<section class="bike_detail">
    <div class="title">Detail kola</div>
    <div class="bike_detail_card">
        <div class="bike_images">
            {% if bike_instance.pictures %}
            {% for picture in bike_instance.pictures %}
            <img src="{{ picture.bike_picture_url }}" alt="{{ picture.description }}">
            {% endfor %}
            {% else %}
            <img style="width: 10%;" src="{{ url_for('static', filename='images/example.jpg') }}" alt="Default Bike Image">
            {% endif %}
        </div>
        <div class="bike_info">
            <h2>{{ bike_instance.bike.model }}</h2>
            <p><strong>Brand:</strong> {{ bike_instance.bike.brand }}</p>
            <p><strong>Frame Material:</strong> {{ bike_instance.bike.frame_material.value }}</p>
            <p><strong>Brake Type:</strong> {{ bike_instance.bike.brake_type.value }}</p>
            <p><strong>Size:</strong> {{ bike_instance.size.value }}</p>
            <p><strong>Color:</strong> {{ bike_instance.color }}</p>
            <p><strong>Status:</strong> {{ bike_instance.status.value }}</p>
            <p><strong>Price per hour:</strong> {{ bike_instance.bike.price.price_per_hour }} CZK</p>
            <p><strong>Price per day:</strong> {{ bike_instance.bike.price.price_per_day }} CZK</p>
            <p><strong>Description:</strong> {{ bike_instance.bike.description }}</p>
        </div>
    </div>
</section>
{% endblock %}