{% extends '__main.jinja' %}

{% block content %}
<main class="login-page">
    <div class="user_icon">
        <i class="fa-regular fa-user"></i>
    </div>
    <form method="POST" class="login" action="{{ url_for('user_bp.change_password', token=token) }}">
        <h1>Nové heslo</h1>

        {{ form.hidden_tag() }}

        <div class="input-group">
            <label for="{{ form.password0.id }}" class="form-label">{{ form.password0.label }}</label>
            <i class="fa-solid fa-lock"></i>
            {{ form.password0(class="form-field", placeholder="Heslo") }}
            <i class="fa-solid fa-eye" id="toggle-password0" style="cursor: pointer;"
                onclick="togglePassword('password0', 'toggle-password0')"></i>
            {% if form.password0.errors %}
            <ul class="errors">
                {% for error in form.password0.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="input-group">
            <label for="{{ form.password1.id }}" class="form-label">{{ form.password1.label }}</label>
            <i class="fa-solid fa-lock"></i>
            {{ form.password1(class="form-field", placeholder="Potvrdit heslo") }}
            <i class="fa-solid fa-eye" id="toggle-password1" style="cursor: pointer;"
                onclick="togglePassword('password1', 'toggle-password1')"></i>
            {% if form.password1.errors %}
            <ul class="errors">
                {% for error in form.password1.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="row_reg">
            {{ form.submit(class="create") }}
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li class="alert alert-{{ 'success' if 'success' in message else 'danger' }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </form>
</main>
{% endblock %}