{% extends '__main.jinja' %}

{% block content %}
<section class="contact_page">
        <div class="title">
            <h1>Kontakt</h1>
        </div>

        <div class="text">
            <p>
                Máte otázky? Neváhejte nás kontaktovat! Naše zákaznická podpora je zde pro vás.
                Zeptejte se na naše služby, možnosti výpůjčky kol, nebo si domluvte osobní návštěvu v našem bikeparku.
            </p>
        </div>

        <div class="contact_info">
            <div class="contact_item">
                <i class="fa-solid fa-location-dot contact-icon"></i>
                <div class="info-details">
                    <h3>Adresa:</h3>
                    <p>
                        Česká republika, Brno <br>
                        Ulice 180/12
                    </p>
                </div>
            </div>

            <div class="contact_item">
                <i class="fa-solid fa-phone contact-icon"></i>
                <div class="info-details">
                    <h3>Telefon:</h3>
                    <p><a href="tel:+420123456789">+420 123 456 789</a></p>
                    <p><a href="tel:+280123000258">+280 123 000 258</a></p>
                </div>
            </div>

            <div class="contact_item">
                <i class="fa-solid fa-envelope contact-icon"></i>
                <div class="info-details">
                    <h3>Email:</h3>
                    <p><a href="mailto:bikego@email.cz">bikego@email.cz</a></p>
                </div>
            </div>
        </div>

        <div class="contact_form">
            <div class="title">Napište nám</div>
            <form action="{{ url_for('contacts_bp.contacts') }}" method="post" class="contact-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                <label for="name">Jméno:</label>
                <input type="text" id="name" name="name" placeholder="Vaše jméno" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Váš email" required>

                <label for="message">Zpráva:</label>
                <textarea id="message" name="message" placeholder="Vaše zpráva" rows="5" required></textarea>

                <button type="submit" class="send_btn">Odeslat</button>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li class="alert alert-{{ 'success' if 'success' in message else 'danger' }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </form>
        </div>
</section>
{% endblock %}