{% extends '__main.jinja' %}

{% block content %}
<main class="reset_pass">
    <div class="user_icon">
        <i class="fa-regular fa-user"></i>
    </div>
    <form method="POST" class="login">
        <h1>Obnovit heslo</h1>

        <!-- CSRF Token for Security (Automatically added by Flask-WTF) -->
        {{ form.hidden_tag() }}

        <div class="input-group">
            <i class="fa-solid fa-envelope"></i>
            {{ form.email(class="form-field", placeholder="E-mail") }}
        </div>

        <button type="submit" class="submit">Odeslat ověřovací kód</button>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </form>
</main>
{% endblock %}