{% extends '__main.jinja' %}

{% block content %}
    <main>
        <div class="user_icon">
            <i class="fa-regular fa-user"></i>
        </div>
        <form action="" method="post" class="login">
            <h1>login</h1>
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
            <a class="white_btn" href="{{ url_for('view_reset_pass') }}">Forggot Username/Password?</a>
            <div class="row">
                <a class="white_btn" href="{{ url_for('view_register') }}">Create an account</a>
                <button class="submit"> login</button>
            </div>
        </form>
    </main>
{% endblock %}