{% extends '__main.jinja' %}

{% block content %}
    <section class="news_page">
        <div class="title">Novinky</div>
        <div class="text">
            <p>Objevte nejnovější informace, aktuality a zajímavosti ze světa BikeGo a našeho bikeparku.</p>
        </div>

        <div class="news_list">
            <article class="news_item">
                <a href="" class="news_title">Otevíráme nové traily!</a>
                <p class="news_date">1. listopadu 2024</p>
                <p class="news_excerpt">Připravili jsme pro vás nové trasy plné adrenalinu a úchvatných výhledů.</p>
            </article>

            <article class="news_item">
                <a href="" class="news_title">Soutěž o permanentky</a>
                <p class="news_date">15. října 2024</p>
                <p class="news_excerpt">Zapojte se do naší soutěže a vyhrajte celoroční přístup do bikeparku!</p>
            </article>

            <article class="news_item">
                <a href="" class="news_title">Nová kolekce kol k zapůjčení</a>
                <p class="news_date">25. září 2024</p>
                <p class="news_excerpt">Představujeme nejnovější modely horských kol pro sezónu 2025.</p>
            </article>
        </div>
    </section>
{% endblock %}