{% extends '__main.jinja' %}
{% block content %}
<div class="profile">
    <div class="left_container">
        <div class="user_icon">
            <img src="{{ user.profile_picture_url if user.profile_picture_url else url_for('static', filename='images/user.png') }}"
                alt="Profilový obrázek uživatele {{ user.username }}" referrerpolicy="no-referrer">
        </div>

        <div class="user_row">
            <section class="user_details">
                <form enctype="multipart/form-data" method="POST" class="login"
                    action="{{ url_for('user_bp.profile') }}">
                    <div class="form-group">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}">
                    </div>

                    <div class="input-group">
                        <label for="{{ form.username.id }}" class="form-label">{{ form.username.label }}</label>
                        {{ form.username(class="form-field", placeholder="Uživatelské jméno") }}
                        {% if form.username.errors %}
                        <ul class="errors">
                            {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="input-group">
                        <label for="{{ form.email.id }}" class="form-label">{{ form.email.label }}</label>
                        {{ form.email(class="form-field", placeholder="Email") }}
                        {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="input-group">
                        <label for="{{ form.phone_number.id }}" class="form-label">{{ form.phone_number.label }}</label>
                        {{ form.phone_number(class="form-field", placeholder="Telefonní číslo") }}
                        {% if form.phone_number.errors %}
                        <ul class="errors">
                            {% for error in form.phone_number.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="input-group">
                        <label for="{{ form.darkmode.id }}" class="form-label">{{ form.darkmode.label }}</label>
                        {{ form.darkmode(class="form-field") }}
                        {% if form.darkmode.errors %}
                        <ul class="errors">
                            {% for error in form.darkmode.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="input-group-image">
                        <label for="{{ form.profile_picture.id }}" class="form-label">{{ form.profile_picture.label
                            }}</label>
                        {{ form.profile_picture(class="form-field") }}
                        {% if form.profile_picture.errors %}
                        <ul class="errors">
                            {% for error in form.profile_picture.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="row_reg">
                        {{ form.submit(class="create") }}
                    </div>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </form>
            </section>
        </div>

        <div class="user_row">

            {% if user.role == 'Admin' %}
            <div class="admin_panel">
                <a href="{{ url_for('admin_bp.admin') }}">Admin panel</a>
            </div>
            {% endif %}
            {% if user.role is in ['Admin', 'Employee'] %}
            <div class="admin_panel">
                <a href="{{ url_for('rentals_bp.rent_checkout') }}">Rentals panel</a>
            </div>
            {% endif %}
            {% if user.role is in ['Admin', 'Service'] %}
            <div class="admin_panel">
                <a href="{{ url_for('servis_bp.servis') }}">Servis panel</a>
            </div>
            {% endif %}

            <div class="scnd_btn">
                <form method="POST" class="login" action="{{ url_for('user_bp.forgot_password') }}">
                    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}">
                    <input type="email" name="email" class="form-field" value="{{ user.email }}" readonly hidden />
                    <button type="submit" class="btn">Změnit heslo</button>
                </form>
            </div>

            <div class="scnd_btn">
                <form method="POST" class="login" action="{{ url_for('user_bp.logout') }}">
                    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}">
                    <button type="submit" class="btn">Odhlášení</button>
                </form>
            </div>

            <div class="delete_profile">
                <form method="POST" class="login" action="{{ url_for('user_bp.delete_user') }}">
                    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}">
                    <input type="password" name="password" class="form-control" placeholder="Zadejte své heslo"
                        required />
                    <button type="submit" class="btn">Smazat profil</button>
                </form>
            </div>
        </div>
    </div>

    <div class="right_container">
        <!-- Stats Section -->
        <section class="stats">
            <h2>Moje statistiky</h2>
            <div class="stats_row">
                <span>Aktivní rezervace:</span>
                <span>{{ active_reservations | length }} rezervací</span>
            </div>
            <div class="stats_row">
                <span>Minulé rezervace:</span>
                <span>{{ past_reservations | length }} rezervací</span>
            </div>
            <div class="stats_row">
                <span>Aktivní pronájmy:</span>
                <span>{{ active_rentals | length }} pronájmů</span>
            </div>
            <div class="stats_row">
                <span>Minulé pronájmy:</span>
                <span>{{ past_rentals | length }} pronájmů</span>
            </div>
        </section>

        <!-- Active Reservations Section -->
        <section class="sessions">
            <h2>Aktivní rezervace</h2>
            {% for reservation in active_reservations %}
            <div class="session_row">
                <img src="{{ url_for('static', filename='images/example.jpg') }}" alt="Aktuální rezervace - Bike">
                <div class="session_details">
                    <span>{{ reservation.reservation_start.strftime('%H:%M:%S') }}</span>
                    <span>{{ reservation.reservation_start.strftime('%Y-%m-%d') }}</span>
                </div>
            </div>
            {% endfor %}
        </section>

        <!-- Past Reservations Section -->
        <section class="sessions">
            <h2>Minulé rezervace</h2>
            {% for reservation in past_reservations %}
            <div class="session_row">
                <img src="{{ url_for('static', filename='images/example.jpg') }}" alt="Minulá rezervace - Bike">
                <div class="session_details">
                    <span>{{ reservation.reservation_end.strftime('%H:%M:%S') }}</span>
                    <span>{{ reservation.reservation_end.strftime('%Y-%m-%d') }}</span>
                </div>
            </div>
            {% endfor %}
        </section>

        <!-- Active Rentals Section -->
        <section class="sessions">
            <h2>Aktivní pronájmy</h2>
            {% for rental in active_rentals %}
            <div class="session_row">
                <img src="{{ url_for('static', filename='images/example.jpg') }}" alt="Aktuální pronájem - Bike">
                <div class="session_details">
                    <span>{{ rental.start_time.strftime('%H:%M:%S') }}</span>
                    <span>{{ rental.start_time.strftime('%Y-%m-%d') }}</span>
                </div>
            </div>
            {% endfor %}
        </section>

        <!-- Past Rentals Section -->
        <section class="sessions">
            <h2>Minulé pronájmy</h2>
            {% for rental in past_rentals %}
            <div class="session_row">
                <img src="{{ url_for('static', filename='images/example.jpg') }}" alt="Minulý pronájem - Bike">
                <div class="session_details">
                    <span>{{ rental.end_time.strftime('%H:%M:%S') }}</span>
                    <span>{{ rental.end_time.strftime('%Y-%m-%d') }}</span>
                </div>
            </div>
            {% endfor %}
        </section>

        <section class="reviews">
            <h2>Moje recenze</h2>

            <!-- Display Existing Reviews -->
            {% for review in reviews %}
            <div class="review_row">
                <span class="review_title">
                    {% if review.comment %}
                    {{ review.comment[:50] }} <!-- Slice only if comment is not None -->
                    {% else %}
                    No comment available.
                    {% endif %}
                </span>
                <p>
                    {% if review.comment %}
                    {{ review.comment }}
                    {% else %}
                    No comment available.
                    {% endif %}
                </p>
                <span class="review_rating">
                    Hodnocení:
                    {% for _ in range(review.rating) %}
                    ⭐
                    {% endfor %}
                    {% for _ in range(5 - review.rating) %}
                    ☆
                    {% endfor %}
                </span>

                <!-- Edit Button Form -->
                <button class="edit-btn" data-review-id="{{ review.id }}" data-review-comment="{{ review.comment }}"
                    data-review-rating="{{ review.rating }}">
                    Edit
                </button>

                <!-- Delete Button Form -->
                <form action="{{ url_for('review_bp.submit_review') }}" method="POST">
                    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}">
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="review_id" value="{{ review.id }}">
                    <button type="submit"
                        onclick="return confirm('Are you sure you want to delete this review?');">Delete</button>
                </form>

                <!-- Modal for the specific review -->
                <div id="reviewModal_{{ review.id }}" class="modal_recenze" style="display: none;">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal({{ review.id }})">&times;</span>
                        <h2 id="modalTitle_{{ review.id }}">Upravit recenzi</h2>
                        <form action="{{ url_for('review_bp.submit_review') }}" method="POST"
                            id="reviewForm_{{ review.id }}">
                            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}">
                            <input type="hidden" name="action" value="update">
                            <input id="review_id_{{ review.id }}" name="review_id" type="hidden"
                                value="{{ review.id }}">
                            <div class="form-group">
                                <label for="rating_{{ review.id }}">Hodnocení:</label>
                                <select id="rating_{{ review.id }}" name="rating" required>
                                    <option value="">Vyberte</option>
                                    <option value="1" {% if review.rating==1 %}selected{% endif %}>1</option>
                                    <option value="2" {% if review.rating==2 %}selected{% endif %}>2</option>
                                    <option value="3" {% if review.rating==3 %}selected{% endif %}>3</option>
                                    <option value="4" {% if review.rating==4 %}selected{% endif %}>4</option>
                                    <option value="5" {% if review.rating==5 %}selected{% endif %}>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="comment_{{ review.id }}">Vaše recenze:</label>
                                <textarea id="comment_{{ review.id }}" name="comment"
                                    placeholder="Napište svou recenzi zde..." required>{{ review.comment }}</textarea>
                            </div>
                            <button class="btn" type="submit">Odeslat</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% if reviews | length == 0 %}
            <div class="review_row">
                <p>Zatím jste napsal(a) žádnou recenzi.</p>
            </div>
            {% endif %}

            <div class="scnd_btn">
                <button id="add_review"> Napsat recenzi </button>
                <i class="fa-solid fa-pen"></i>
            </div>

            <!-- The Modal for adding and editing review -->
            <div id="reviewModal" class="modal_recenze" style="display: none;">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">×</span>
                    <h2 id="modalTitle">Napsat recenzi</h2>
                    <form action="{{ url_for('review_bp.submit_review') }}" method="POST" id="reviewForm">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}">
                        <input type="hidden" name="action" value="create">
                        <input id="review_id" name="review_id" type="hidden">
                        <div class="form-group">
                            <label for="rating">Hodnocení:</label>
                            <select id="rating" name="rating" required>
                                <option value="">Vyberte</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="comment">Vaše recenze:</label>
                            <textarea id="comment" name="comment" placeholder="Napište svou recenzi zde..."
                                required></textarea>
                        </div>
                        <button class="btn" type="submit">Odeslat</button>
                    </form>
                </div>
            </div>

            <script>
                const modal = document.getElementById("reviewModal");
                const addReviewButton = document.getElementById("add_review");
                const closeButton = document.querySelectorAll(".close");

                // When the "Napsat recenzi" button is clicked, show the modal
                addReviewButton.onclick = function () {
                    modal.style.display = "block";
                }

                // When the close button is clicked, hide the modal
                closeButton.forEach(button => {
                    button.onclick = function () {
                        const modalToClose = button.closest('.modal_recenze');
                        modalToClose.style.display = "none";
                    }
                });

                // Open the modal and populate it with the review's details
                document.querySelectorAll('.edit-btn').forEach(button => {
                    button.addEventListener('click', function () {
                        const reviewId = this.getAttribute('data-review-id');
                        const reviewComment = this.getAttribute('data-review-comment');
                        const reviewRating = this.getAttribute('data-review-rating');

                        // Set the form's hidden fields and pre-fill the inputs
                        document.getElementById('review_id_' + reviewId).value = reviewId;
                        document.getElementById('comment_' + reviewId).value = reviewComment;
                        document.getElementById('rating_' + reviewId).value = reviewRating;

                        // Show the modal for the specific review
                        document.getElementById('reviewModal_' + reviewId).style.display = 'block';
                    });
                });

                // Close modal when clicking outside of it
                window.onclick = function (event) {
                    if (event.target && event.target.classList.contains('modal_recenze')) {
                        event.target.style.display = "none";
                    }
                }
            </script>
        </section>


    </div>

</div>
{% endblock %}