{% extends '__main.jinja' %}

{% block content%}
<main class="pujcovna_full_page">
    <div class="pujcovna_filters">
        <div class="filters_item">
            <form method="get" action="{{ url_for('rentals') }}" class="filter_search_form">
                <!-- Brand Filter -->
                <fieldset>
                    <legend>Brand</legend>
                    {% for brand in brands %}
                    <label>
                        <input type="checkbox" name="brand" value="{{ brand }}" {% if brand in selected_filters.brand
                            %}checked{% endif %}>
                        {{ brand }}
                    </label>
                    {% endfor %}
                </fieldset>

                <!-- Model Filter -->
                <fieldset>
                    <legend>Model</legend>
                    {% for model in models %}
                    <label>
                        <input type="checkbox" name="model" value="{{ model }}" {% if model in selected_filters.model
                            %}checked{% endif %}>
                        {{ model }}
                    </label>
                    {% endfor %}
                </fieldset>

                <!-- Frame Material Filter -->
                <fieldset>
                    <legend>Frame Material</legend>
                    {% for material in frame_materials %}
                    <label>
                        <input type="checkbox" name="frame_material" value="{{ material }}" {% if material in
                            selected_filters.frame_material %}checked{% endif %}>
                        {{ material }}
                    </label>
                    {% endfor %}
                </fieldset>

                <!-- Brake Type Filter -->
                <fieldset>
                    <legend>Brake Type</legend>
                    {% for brake in brake_types %}
                    <label>
                        <input type="checkbox" name="brake_type" value="{{ brake }}" {% if brake in
                            selected_filters.brake_type %}checked{% endif %}>
                        {{ brake }}
                    </label>
                    {% endfor %}
                </fieldset>

                <!-- Size Filter -->
                <fieldset>
                    <legend>Size</legend>
                    {% for size in sizes %}
                    <label>
                        <input type="checkbox" name="size" value="{{ size }}" {% if size in selected_filters.size
                            %}checked{% endif %}>
                        {{ size }}
                    </label>
                    {% endfor %}
                </fieldset>

                <!-- Color Filter -->
                <fieldset>
                    <legend>Color</legend>
                    {% for color in colors %}
                    <label>
                        <input type="checkbox" name="color" value="{{ color }}" {% if color in selected_filters.color
                            %}checked{% endif %}>
                        {{ color }}
                    </label>
                    {% endfor %}
                </fieldset>

                <!-- Status Filter -->
                <fieldset>
                    <legend>Status</legend>
                    {% for status in statuses %}
                    <label>
                        <input type="checkbox" name="status" value="{{ status }}" {% if status in
                            selected_filters.status %}checked{% endif %}>
                        {{ status }}
                    </label>
                    {% endfor %}
                </fieldset>
                <button type="submit" class="search_btn">Search</button>
            </form>






            <div class="filter_header">
                <span>Kategorie</span>
                <button class="toggle-btn">−</button>
            </div>

            <div class="subfilters">
                <label>
                    <input type="checkbox">Silniční
                </label>
                <label>
                    <input type="checkbox">Gravel
                </label>

                <label>
                    <input type="checkbox">Triation
                </label>

                <label>
                    <input type="checkbox">Downhill
                </label>

                <label>
                    <input type="checkbox">Trailové
                </label>

                <label>
                    <input type="checkbox">Enduro
                </label>

                <label>
                    <input type="checkbox">Cross country
                </label>

            </div>
        </div>

        <div class="filters_item">
            <div class="filter_header">
                <span>Velikost</span>
                <button class="toggle-btn">+</button>
            </div>
            <div class="subfilters" style="display: none;">
                <label>
                    <input type="checkbox">XS
                </label>
                <label>
                    <input type="checkbox">S
                </label>
                <label>
                    <input type="checkbox">M
                </label>
                <label>
                    <input type="checkbox">L
                </label>
                <label>
                    <input type="checkbox">XL
                </label>

            </div>
        </div>

        <div class="filters_item">
            <div class="filter_header">
                <span>Materiál rámu</span>
                <button class="toggle-btn">+</button>
            </div>
            <div class="subfilters" style="display: none;">
                <label>
                    <input type="checkbox">Aluminum
                </label>
                <label>
                    <input type="checkbox">Carbon
                </label>
                <label>
                    <input type="checkbox">Steel
                </label>
                <label>
                    <input type="checkbox">Titanium
                </label>
            </div>
        </div>

        <div class="filters_item">
            <div class="filter_header">
                <span>Typ brzdy</span>
                <button class="toggle-btn">+</button>
            </div>
            <div class="subfilters" style="display: none;">
                <label>
                    <input type="checkbox">Disc
                </label>
                <label>
                    <input type="checkbox">Rim
                </label>
                <label>
                    <input type="checkbox">Hydraulic
                </label>
            </div>
        </div>

        <div class="filters_item">
            <div class="filter_header">
                <span>Značka</span>
                <button class="toggle-btn">+</button>
            </div>
            <div class="subfilters" style="display: none;">
                <label>
                    <input type="checkbox">Treck
                </label>
                <label>
                    <input type="checkbox">Santa Cruz
                </label>
                <label>
                    <input type="checkbox">Salsa
                </label>
                <label>
                    <input type="checkbox">Surly
                </label>
                <label>
                    <input type="checkbox">Ibis
                </label>
                <label>
                    <input type="checkbox">Juliana
                </label>
            </div>
        </div>

        <div class="filters_item">
            <div class="filter_header">
                <span>Barva</span>
                <button class="toggle-btn">+</button>
            </div>
            <div class="subfilters" style="display: none;">
                <label>
                    <input type="checkbox">Černá
                </label>
                <label>
                    <input type="checkbox">Bílá
                </label>
                <label>
                    <input type="checkbox">Žlutá
                </label>
                <label>
                    <input type="checkbox">Zelená
                </label>
            </div>
        </div>
    </div>

    <section class="pujcovna_main">
        <div class="pujcovna_search_row">
            <div class="search_bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="text" id="search-input" placeholder="Vyhledavani">
            </div>
            <button id="sorting_btn" class="scnd_btn">
                Seřadit podle
                <i class="fa-solid fa-caret-down"></i>
                <ul class="sorting-options" style="display: none;">
                    <li data-sort="name">Název</li>
                    <li data-sort="type">Typ</li>
                    <li data-sort="price">Cena</li>
                    <li data-sort="availability">Dostupnost</li>
                </ul>
            </button>
        </div>

        <div class="bike_collection">
            {% for instance in bike_instances %}
            <a href="{{ url_for('rentals_detail', bike_instance_id=instance.id) }}" class="bike">
                <img class="bike_img"
                    src="{{ instance.pictures[0].bike_picture_url if instance.pictures else url_for('static', filename='images/example.jpg') }}"
                    alt="Bike Image">
                <h3>{{ instance.bike.model }}</h3>
                <p><strong>Brand:</strong> {{ instance.bike.brand }}</p>
                <p><strong>Size:</strong> {{ instance.size.value }}</p>
                <p><strong>Frame Material:</strong> {{ instance.bike.frame_material.value }}</p>
                <p><strong>Status:</strong> {{ instance.status.value }}</p>
                <a href="{{ url_for('rentals_detail', bike_instance_id=instance.id) }}" class="details_link">View
                    Details</a>
            </a>
            {% endfor %}
            {% if bike_instances|length == 0 %}
            <p>No bike instances available at the moment.</p>
            {% endif %}
        </div>
        <div class="pages" id="pagination"></div>
    </section>
</main>
{% endblock %}