{% extends '__main.jinja' %}

{% block content%}
<main class="pujcovna_full_page">
    <div class="pujcovna_filters">
        <div class="filters_item">
            <form method="get" action="{{ url_for('rentals_bp.rentals') }}" class="filter_search_form">
                <!-- Brand Filter -->
                <div class="filter_section">
                    <div class="filter_header" onclick="toggleFilter('brand_filter', this)">Značka: <i
                            class="fa-solid fa-plus"></i></div>
                    <div id="brand_filter" class="filter_options" style="display: none;">
                        {% for brand in brands %}
                        <label class="subfilters">
                            <input type="checkbox" name="brand" value="{{ brand }}" {% if selected_filters.brand and
                                brand in selected_filters.brand %}checked{% endif %} onchange="this.form.submit()">
                            {{ brand }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Model Filter -->
                <div class="filter_section">
                    <div class="filter_header" onclick="toggleFilter('model_filter', this)">Model: <i
                            class="fa-solid fa-plus"></i></div>
                    <div id="model_filter" class="filter_options" style="display: none;">
                        {% for model in models %}
                        <label class="subfilters">
                            <input type="checkbox" name="model" value="{{ model }}" {% if selected_filters.model and
                                model in selected_filters.model %}checked{% endif %} onchange="this.form.submit()">
                            {{ model }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Frame Material Filter -->
                <div class="filter_section">
                    <div class="filter_header" onclick="toggleFilter('frame_material_filter', this)">Materiál rámu: <i
                            class="fa-solid fa-plus"></i></div>
                    <div id="frame_material_filter" class="filter_options" style="display: none;">
                        {% for material in frame_materials %}
                        <label class="subfilters">
                            <input type="checkbox" name="frame_material" value="{{ material }}" {% if
                                selected_filters.frame_material and material in selected_filters.frame_material
                                %}checked{% endif %} onchange="this.form.submit()">
                            {{ material }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Brake Type Filter -->
                <div class="filter_section">
                    <div class="filter_header" onclick="toggleFilter('brake_type_filter', this)">Typ brzdy: <i
                            class="fa-solid fa-plus"></i></div>
                    <div id="brake_type_filter" class="filter_options" style="display: none;">
                        {% for brake in brake_types %}
                        <label class="subfilters">
                            <input type="checkbox" name="brake_type" value="{{ brake }}" {% if
                                selected_filters.brake_type and brake in selected_filters.brake_type %}checked{% endif
                                %} onchange="this.form.submit()">
                            {{ brake }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Size Filter -->
                <div class="filter_section">
                    <div class="filter_header" onclick="toggleFilter('size_filter', this)">Velikost: <i
                            class="fa-solid fa-plus"></i></div>
                    <div id="size_filter" class="filter_options" style="display: none;">
                        {% for size in sizes %}
                        <label class="subfilters">
                            <input type="checkbox" name="size" value="{{ size }}" {% if selected_filters.size and size
                                in selected_filters.size %}checked{% endif %} onchange="this.form.submit()">
                            {{ size }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Color Filter -->
                <div class="filter_section">
                    <div class="filter_header" onclick="toggleFilter('color_filter', this)">Barva: <i
                            class="fa-solid fa-plus"></i></div>
                    <div id="color_filter" class="filter_options" style="display: none;">
                        {% for color in colors %}
                        <label class="subfilters">
                            <input type="checkbox" name="color" value="{{ color }}" {% if selected_filters.color and
                                color in selected_filters.color %}checked{% endif %} onchange="this.form.submit()">
                            {{ color }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Status Filter -->
                <div class="filter_section">
                    <div class="filter_header" onclick="toggleFilter('status_filter', this)">Status: <i
                            class="fa-solid fa-plus"></i></div>
                    <div id="status_filter" class="filter_options" style="display: none;">
                        {% for status in statuses[:1] %}
                        <label class="subfilters">
                            <input type="checkbox" name="status" value="{{ status }}" {% if selected_filters.status and
                                status in selected_filters.status %}checked{% endif %} onchange="this.form.submit()">
                            {{ status }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Reset Filters Button -->
                <div class="filter_section">
                    <button type="button" onclick="resetFilters()" class="scnd_btn">Resetovat všechny filtry <i
                            class="fa-solid fa-filter-circle-xmark"></i></button>
                </div>
            </form>
        </div>
    </div>

    <section class="pujcovna_main">
        <div class="pujcovna_search_row">
            <div class="search_bar">
                <form method="get" action="{{ url_for('rentals_bp.rentals') }}" class="search_form">
                    <input type="text" name="search" class="text" id="search-input" placeholder="Vyhledávání"
                        value="{{ selected_filters.search or '' }}">
                    <button type="submit" class="search_button"><i class="fa-solid fa-magnifying-glass"></i></button>

                    <!-- Retain other filter parameters -->
                    {% for key, value in selected_filters.items() if key != 'search' %}
                    {% if value %}
                    {% if value is iterable and value is not string %}
                    {% for val in value %}
                    <input type="hidden" name="{{ key }}" value="{{ val }}">
                    {% endfor %}
                    {% else %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </form>
            </div>

            <form method="get" action="{{ url_for('rentals_bp.rentals') }}" class="sorting_form">
                <select name="sort" onchange="this.form.submit()" class="sorting_dropdown">
                    {% for option in sort_options %}
                    <option value="{{ option.value }}" {% if option.value==sort_option %}selected{% endif %}>
                        {{ option.label }}
                    </option>
                    {% endfor %}
                </select>
                {% for key, value in selected_filters.items() %}
                {% if value %}
                {% if value is iterable and value is not string %}
                {% for val in value %}
                <input type="hidden" name="{{ key }}" value="{{ val }}">
                {% endfor %}
                {% else %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endif %}
                {% endif %}
                {% endfor %}
            </form>
        </div>


        <div class="bike_collection">
            {% for instance in bike_instances %}
            <div class="bike">
                <a href="{{ url_for('rentals_bp.rentals_detail', bike_instance_id=instance.id) }}">
                    <img class="bike_img"
                        src="{{ instance.pictures[0].bike_picture_url if instance.pictures else url_for('static', filename='images/example.jpg') }}"
                        alt="Bike Image">

                    <div class="bike_labels">
                        <p><strong style="display: none;">Status:</strong>
                            {% if instance.status.value == 'Available' %}
                            <i class="fa-solid fa-circle-check"></i>
                            {% else %}
                            <i class="fa-solid fa-circle-xmark"></i>
                            {% endif %}
                        </p>
                        <p class="b_label"><strong style="display: none;">Brand:</strong> {{ instance.bike.brand }}</p>
                        <p class="b_label"><strong style="display: none;">Size:</strong> {{ instance.size.value }}</p>
                        <p class="b_label"><strong style="display: none;">Frame Material:</strong> {{
                            instance.bike.frame_material.value }}</p>
                    </div>
                    <h4>{{ instance.bike.model }}</h4>
                </a>
            </div>

            {% endfor %}

            {% if bike_instances|length == 0 %}
            <p>No bike instances available at the moment.</p>
            {% endif %}
        </div>

        <!-- Pagination Controls -->
        <div class="pages">
            {% if current_page > 1 %}
            <a href="{{ url_for('rentals_bp.rentals', page=current_page-1, sort=sort_option, **selected_filters) }}"
                class="pagination_button">Previous</a>
            {% endif %}
            <span>Page {{ current_page }} of {{ total_pages }}</span>
            {% if current_page < total_pages %} <a
                href="{{ url_for('rentals_bp.rentals', page=current_page+1, sort=sort_option, **selected_filters) }}"
                class="pagination_button">Next</a>
                {% endif %}
        </div>
    </section>
</main>

<script>
    function toggleFilter(filterId, headerElement) {
        const filterElement = document.getElementById(filterId);
        const icon = headerElement.querySelector('i');

        if (filterElement.style.display === "none") {
            filterElement.style.display = "block";
            if (icon) icon.className = "fa-solid fa-minus";
        } else {
            filterElement.style.display = "none";
            if (icon) icon.className = "fa-solid fa-plus";
        }
    }

    function resetFilters() {
        const checkboxes = document.querySelectorAll('.filter_options input[type="checkbox"]');
        checkboxes.forEach(checkbox => checkbox.checked = false);
        document.querySelector('.filter_search_form').submit();
    }
</script>
{% endblock %}
