{% extends '__main.jinja' %}

{% block content %}
    <main class="reset_pass">
        <div class="user_icon">
            <i class="fa-regular fa-user"></i>
        </div>
        <form action="" method="post" class="login">
            <h1>Reset Password</h1>
            <input type="email" id="email" name="E-mail" placeholder="E-mail">
            <button class="submit">odeslat ověřovací kód</button>
        </form>
    </main>
{% endblock %}