{% extends '__main.jinja' %}

{% block content %}
<div class="service_page">
    <h2 class="title">Přehled kol na servis</h2>
    <table>
        <thead>
            <tr>
                <th>Inspection ID</th>
                <th>Inspection Date</th>
                <th>Comments</th>
                <th>Bike ID</th>
                <th>Current Status</th>
                <th>Change Status</th>
            </tr>
        </thead>
        <tbody>
            {% for inspection in inspections %}
            <tr>
                <td>{{ inspection.id }}</td>
                <td>{{ inspection.inspection_date }}</td>
                <td>{{ inspection.comments }}</td>
                <td>{{ inspection.rental.instance_bike.id }}</td>
                <td>{{ inspection.rental.instance_bike.status.value }}</td>
                <td>
                    <form method="POST" action="{{ url_for('servis_bp.servis') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <input type="hidden" name="inspection_id" value="{{ inspection.id }}">
                        <select name="status">
                            {% for status in statuses %}
                            <option value="{{ status }}" {% if inspection.rental.instance_bike.status.value==status
                                %}selected{% endif %}>
                                {{ status }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Update Status</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}