{% extends '__main.jinja' %}

{% block content%}
    <main>
        <div class="user_icon">
            <i class="fa-regular fa-user"></i>
        </div>
        <form action="" method="post" class="login">
            <h1>sign up</h1>
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="email" id="email" name="email" placeholder="E-mail">
            <input type="password" id="password0" name="password0" placeholder="Password">
            <input type="password" id="password1" name="password1" placeholder="Confirm Password">
            <div class="row_reg">
                <button class="create">CREATE ACCOUNT</button>
            </div>
            <a class="white_btn" href="{{ url_for('user_bp.login') }}">Already have an account. Login here</a>
        </form>
    </main>

{% endblock %}